*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-color--: #F4F9F9;
    --text-color--: #AAAAAA;

}

body {
    padding: 0px 200px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AAAAAA;
}

.container {
    display: relative;
    width: fixed;
    background-color: #F9F9F9;
    padding: 40px 20px;
}

.img-space {
    text-align: center;
    padding: 10px 10px;
}

.img-space img  {
    width: 90%;
    height: 200px;
}

.link-space {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 15px 10px;
    /* z-index: 1; */
}

.link-space a {
    /* margin-top: 10px; */
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
}

.link-space .icon {
    display: none;
}

/* .link-space a:hover {
    color: blue;
} */

.link-space .link-svg {
    display: flex;
    padding: 0px 0px;
    /* margin-top: px; */
    /* margin: 5px; */
    /* width: 10px; */
}

.link-space .link-svg a svg:hover {
    color: blue;
}


 a:hover:not(.active) {
    background-color: #CCF2F4;
    border-radius: 5px;
}

.active {
    background-color: #A4EBF3;
    border-radius: 5px;
    }

.about-content {
    display: flex;
    padding: 10px 10px;
}

.about-content img p {
    padding: 10px 10px;
}

.about-content p {
    font-size: 20px;
}

section {
    margin-top: 20px;
}

section h3 {
    font-size: 40px;
    color: rgb(172, 169, 169);
    padding: 0px 2px;
    margin: 0px;
    font-weight: 200;
}

.about-content img {
    padding: 20px 0px;
    height: 500px;
    /* width: 200px; */
}

div.about-content {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px;
}

.about-content p {
    padding: 0px 10px;
    line-height: 50px;
    line-break: 10px;
}

.description h4 {
    padding-bottom: 7px;
    color: grey;
    font-size: larger;
}

.description p {
    line-height: 30px;
    padding-bottom: 20px;
    font-size: 19px;
}

#cv-space a {
    /* text-decoration: none; */
    color: rgb(98, 98, 204);
    /* background-color: blue; */
    margin: 20px 20px;
    /* border-radius: 5px; */
}

#outreach-space p {
    font-size: 20px;
    padding: 15px 10px;
}

.outreach-desc h4 {
    margin: 30px 0px;
    color: grey;
    font-size: 20px;
    font-size: 25px;
}

.outreach-desc img {
    width: 30%;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 5px 10px;
    }
    .container {
        /* display: block; */
        width: 100vw;
        padding: 10px 20px;
    }
    .link-space {
        display: block;
        padding: 10px 10px;
    }
    .link-space a {
        /* width: 50px; */
        display: block;
    }
    .link-space a .icon {
        float: right;
        display: block;
    }
    .link-space .link-svg  {
        display: block;
    }
    .link-space a:not(:first-child) {display: none;}
    .link-space .responsive {position: relative;}
    .link-space .responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .link-space .responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .link-space .icon {
        display: block;
    }
    .main-page section {
        padding: 0px;
    }
    .about-content {
        flex-direction: column;
    }
    .about-content img {
        position: relative;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .about-content p {
        padding: 0px 0px;
        /* display:block; */
        /* padding: 0px 10px; */
        line-height: normal;
        line-break: normal;
    }
}